.bookmarks-index {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 30%;
    font-family: 'Barlow', sans-serif;
}

.bookmarks-index h1 {
    font-size: 48px;
    font-weight: 600;
}

.bookmarks-list {
    padding: 20px 0px;
}