.event-show-container {
    width: 100%;
}

.background-container {
    position: absolute;
    width: 100%;
    height: 75%;
    overflow: hidden;
}

.event-show {
    position: relative;
    padding: 3% 10%;
    box-shadow: 0px, 1px 50px -10px;
    font-family: 'Barlow', sans-serif;
}

.event-header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.9);
    max-height: 400px;
}

.show-image-container {
    flex: 2;
    background-color: white;
}

#show-background {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(25px);
    -webkit-filter: blur(25px);
    transform: scale(1.1);
}

#show-image {
    width: 100%;
    height: 100%;
}

.event-details {
    margin: 25px 35px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.start-date-header {
    display: block;
    position: absolute;
}

.start-date-header #start-date {
    font-size: 22px;
    text-align: center;
}

.event-details h1 {
    font-size: 24px;
    padding-top: 70px;
}

#event-owner {
    padding-bottom: 50%;
    color: gray;
}

.event-details > p {
    color: rgb(85, 85, 85);
}

.buttons {
    border-top: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.buttons button {
    margin: 10px;
    width: 300px;
    height: 22px;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    background-color: navy;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

#owner-button {
    width: 150px;
}

.buttons button:hover {
    background-color: rgb(12, 12, 194);
}

#bookmark {
    margin: 10px;
    width: fit-content;
    height: fit-content;
    color: rgb(80, 80, 80);
    background-color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 8px 13px;
    border-radius: 50%;
    cursor: pointer;
    font-weight: lighter;
}

#bookmarked {
    margin: 10px;
    width: fit-content;
    height: fit-content;
    color: navy;
    background-color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 8px 13px;
    border-radius: 50%;
    cursor: pointer;
    font-weight: lighter;
}

#bookmark:hover {
    outline-style: none;
    color: rgb(70, 70, 70);
    background-color: whitesmoke;
}

#bookmarked:hover {
    outline-style: none;
    color: rgb(10, 10, 184);
    background-color: whitesmoke;
}

#register {
    margin-right: 20px;
}

.event-body {
    display: flex;
    padding: 30px;
    /* margin-bottom: 50px; */
    background-color: white;
}

.event-body-desc {
    flex: 2;
    margin-right: 30px;
}

.event-body-desc h5 {
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0px;
}

.event-body-date {
    flex: 1;
}

.event-body-date h6 {
    font-weight: 500;
    margin: 10px 0px;
}

.similar-events {
    margin-bottom: 30px;
    padding: 30px 0px;
    border-top: 1px solid whitesmoke;
}

.similar-events h5 {
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0px;
}