.event-show {
    margin: 5% 10%;
    border: 1px solid whitesmoke;
    box-shadow: 0px, 1px 50px -10px;
    font-family: 'Barlow', sans-serif;
}

.event-header {
    border: 1px solid whitesmoke;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255,255,255,0.9);
}

.show-image-container {
    flex: 2;
}

#show-image {
    width: 100%;
}

.event-details {
    margin: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.start-date-header {
    display: block;
    position: absolute;
}

.start-date-header #start-date {
    font-size: 22px;
    text-align: center;
}

.event-details h1 {
    font-size: 24px;
    padding-top: 70px;
}

.event-details > p {
    color: gray;
}

.buttons {
    border-top: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
    display: flex;
    justify-content: space-between;
}

.buttons button {
    margin: 25px 0px;
    width: 300px;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    background-color: navy;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.buttons button:hover {
    background-color: rgb(12, 12, 194);
}

#bookmark {
    margin: 10px;
    width: fit-content;
    height: fit-content;
    color: rgb(95, 95, 95);
    background-color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 8px 13px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-weight: lighter;
}

#bookmarked {
    margin: 10px;
    width: fit-content;
    height: fit-content;
    color: navy;
    background-color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 8px 13px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-weight: lighter;
    box-shadow: 1px 1px 5px #adacaa;
}

#bookmark:hover {
    outline-style: none;
    color: rgb(105, 105, 105);
    background-color: whitesmoke;
}

#bookmarked:hover {
    outline-style: none;
    color: rgb(105, 105, 105);
    background-color: whitesmoke;
}

/* #bookmark:focus {
    outline-style: none;
    font-weight: bold;
    color: black;
    background-color: rgb(235, 235, 235);
} */

#register {
    margin-right: 20px;
}

.event-body {
    display: flex;
    padding: 30px;
    margin-bottom: 50px;
    /* justify-content: space-around; */
}

.event-body-desc {
    flex: 2;
    margin-right: 30px;
}

.event-body-desc h5 {
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0px;
}

.event-body-date {
    flex: 1;
}

.event-body-date h6 {
    font-weight: 500;
    margin: 10px 0px;
}