.footer {
    /* margin-top: 10px; */
    background-color: navy;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.website-links {
    display: flex;
    justify-content: center;
}

.website-links a {
    font-size: 25px;
    text-decoration: none;
    color: white;
    padding: 10px;
}

.website-links a:hover {
    color: lightgray;
}