.navbar {
    display: flex;
    justify-content: space-between;
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    align-content: center;
    border-bottom: 1px solid lightgray;
}

.logo {
    display: flex;
}

.logo a {
    font-family: 'Luckiest Guy', cursive;
    padding: 20px;
    font-size: 22px;
    color: navy;
    text-decoration: none;
    vertical-align: bottom;
}

.searchbar-container {
    display: flex;
}

.searchbar {
    background-color: whitesmoke;
    margin: 10px;
    padding: 5px 10px;
    font-family: 'Barlow', sans-serif;
    min-width: 50%;
    color: lightgray;
    vertical-align: bottom;
    display: flex;
}

.searchbar i {
    padding-top: 10px;
}

#search-input {
    width: 95%;
    border: 0;
    outline: none;
    font-size: 14px;
    padding: 7px;
    margin-left: 7px;
    color: black;
    background-color: whitesmoke;
}

#search-input:focus {
    background-color: white;
}

#logged-in-search {
    min-width: 100%;
}

/* when logged out */

.navbar-right {
    padding: 20px 0px;
}

.navbar-right span {
    padding: 20px 0px;
    color: lightslategray;
}

#help {
    padding: 20px 20px 25px 20px;
}

#browse-events {
    color: black;
    padding: 20px 10px 25px 10px;
}

#browse-events:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

#help:hover {
    background-color: whitesmoke;
}

.navbar-right a {
    padding: 20px;
    text-decoration: none;
    color: lightslategray;
}

#nav-right a {
    padding: 20px 10px 25px 10px;
}

.navbar-right a:hover {
    text-decoration: none;
    color: black;
}

/* when logged in */

.profile-dropdown {
    padding: 20px 40px 20px 20px;
    position: relative;
}

.profile-dropdown .dropdown-content {
    display: none;
}

.profile-dropdown:hover {
    cursor: pointer;
}

.profile-dropdown:hover .dropdown-content {
    display: block;
    z-index: 999;
    background-color: white;
}

.dropdown-content {
    position: absolute;
    justify-content: flex-start;
    width: 200px;
    right: 0;
    left: auto;
    top: 60px;
    list-style: none;
    box-shadow: 0px 1px 8px #adacaa;
}

.dropdown-content li {
    color: gray;
    width: 200px;
    height: 50px;
    position: relative;
}

.dropdown-content li:hover {
    background-color: whitesmoke;
    color: black;
}

.dropdown-content a {
    text-decoration: none;
    color: gray;
    padding: 15px;
    width: 200px;
    height: 450px;
    position: absolute;
}

.dropdown-content a:hover {
    color: black;
}

#user-info {
    border-bottom: 1px solid lightgray;
}

#user-info a {
    display: flex;
    padding: 10px 15px;
}

#user-details {
    padding: 0px 5px 10px 5px;
}

#fname-lname {
    font-weight: 600;
}

.dropdown-content button {
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    padding: 15px;
    width: 200px;
    height: 50px;
    border: none;
    background: none;
    cursor: pointer;
    color: gray;
    text-align: left;
}

.dropdown-content button:hover {
    color: black;
}

/* logged in nav */

.nav-links {
    display: flex;
    flex-direction: row;
}

.nav-content {
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.nav-content a {
    text-decoration: none;
    padding: 15px 10px;
    color: black;
}

.nav-links a {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#event a {
    color: #3659e3;
}

.nav-content a:hover {
    background-color: whitesmoke;
}

#user-icon {
    padding-top: 5px;
    padding-right: 5px;
    font-size: medium;
}

#registrations {
    border-bottom: 1px solid lightgray;
}

@media (max-width: 835px) {
    .nav-links {
        display: none;
    }

    #browse-events, #help {
        display: none;
    }
}