.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Barlow', sans-serif;
}

.e-logo {
    margin-top: 50px;
    font-family: 'Luckiest Guy', cursive;
    font-size: 69px;
    color: navy;
}

.signup-form h2 {
    font-size: 25px;
    margin: 20px;
    font-weight: 500;
}

.signup-form p {
    font-size: 16px;
    color: lightslategray;
    margin: 20px;
}

/* .signup-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.form-content {
    margin: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-content label {
    font-size: 12px;
    box-sizing: border-box;
    width: inherit;
    padding: 5px 10px;
    border: 1px solid lightgray;
}

.form-content label:hover {
    border: 1px solid gray;
}

/* .form-content label:focus {
    border: 1px solid navy;
} */

.form-content input {
    width: 100%;
    border: 0;
    outline: 0;
    font-size: 15px;
}

.form-content input:focus {
    outline: none;
}

.signup-form button {
    margin: 15px 0px;
    width: 100%;
    padding: 12px;
    font-size: 12px;
    background-color: navy;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.signup-form button:hover {
    background-color: rgb(12, 12, 194);
}

.name-signup {
    display: flex;
    justify-content: space-between;
}

.fname-inputs {
    margin-right: 5px;
}

.lname-inputs {
    margin-left: 5px;
}

.signup-errors {
    width: 100%;
    display: flex;
}

#terms {
    font-size: 12px;
    color: black;
    text-align: center;
}

.login-instead {
    text-decoration: none;
    color: #3659e3;
    font-size: 14px;;
}

.login-instead:hover {
    text-decoration: underline;
}