.main {
    padding-bottom: 5%;
}

.index-body {
    font-family: 'Barlow', sans-serif;
    font-size: 26px;
    background-color: rgb(252, 252, 252);
    margin: 0px 50px;
}

.index-body h1 {
    padding: 20px 30px 0px 30px;
    font-weight: 700;
}

.event-list {
    padding: 10px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.event-list p {
    padding: 100px 0px;
}

.event-item {
    flex: 1;
    min-width: 300px;
    width: 300px;
    max-width: 300px;
    height: 350px;
    /* padding: 10px; */
    margin: 20px;
    background-color: white;
}

.event-item:hover {
    box-shadow: 0px 30px 70px -30px #adacaa;
}

.event-info {
    padding: 0px 20px;
}

.event-info p {
    font-size: 14px;
    font-weight: 700;
    color: rgb(8, 8, 216);
    padding: 2px;
}

.event-info a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 700;
    padding: 2px;
}

.images {
    height: 70%;
    width: 100%;
    position: relative;
}

.images img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    align-self: center;
}

.images button {
    position: absolute;
    bottom: 0px;
    right: 10px;
    z-index: 10;
    text-decoration: none;
    font-size: 20px;
    padding: 8px 13px;
    border: 1px solid lightgrey;
    border-radius: 50%;
    cursor: pointer;
}

.images button:focus {
    outline-style: none;
    background-color: whitesmoke;
}

.category-browse {
    padding: 30px;
}

.category-list {
    display: flex;
    list-style: none;
    margin: 10px 40px;
    flex-wrap: wrap;
}

.category-list li {
    margin: 0px 10px;
    padding: 10px 0px;
    font-size: 14px;
    font-weight: 500;
    color: gray;
}

.category-list li:hover {
    color: black;
    cursor: pointer;
    border-bottom: 3px solid black;
    padding: 10px 0px 7px 0px;
}

li.active {
    color: rgb(0, 0, 211);
    border-bottom: 3px solid rgb(0, 0, 211);
    padding: 10px 0px 7px 0px;
}

#banner {
    width: 100%;
    height: 100%;
}

.banner-headers {
    font-family: 'Luckiest Guy', cursive;
    position: absolute;
    top: 100px;
    left: 10%;
    z-index: 2;
    color: black;
    font-size: 48px;
    padding: 20px;
    max-width: 500px;
}

#darkness-text {
    font-size: 25px;
    padding-bottom: 30px;
    color: navy;
}

#connect {
    font-size: 36px;
    padding-bottom: 10px;
}

#start-browsing-btn {
    margin-top: 5%;
    width: 180px;
    padding: 13px 10px;
    font-size: 14px;
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    background-color: navy;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    border: none;
    outline: none;
}

#start-browsing-btn span {
    padding-right: 15px;
}

@media (max-width: 800px) {
    .banner-headers {
        position: static;
        color: black;
        text-align: center;
        width: 100%;
    }
}