.main {
    padding-bottom: 5%;
    background-color: rgb(250, 250, 250);
}

.index-body {
    font-family: 'Barlow', sans-serif;
    font-size: 26px;
    background-color: rgb(250, 250, 250);
    margin: 0px 50px;
}

.index-body h1 {
    padding: 20px 30px 0px 30px;
    font-weight: 700;
}

.event-list {
    padding: 10px 10px 10px 15px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.event-list #no-events {
    padding: 20px 0px;
    width: 100%;
    text-align: center;
}

.event-item-container {
    width: 25%;
}

.event-item {
    min-width: 280px;
    height: 280px;
    margin: 15px;
    background-color: white;
}

@media only screen and (max-width: 1420px) {
    .event-item-container {
        width: 30%;
    }

    .event-item {
        min-width: 280px;
        height: 310px;
    }
}

@media only screen and (max-width: 1180px) {

    .event-item-container {
        width: 50%;
        max-width: 440px;
    }

    .event-item {
        min-width: 280px;
        height: 310px;
    }

    .images {
        height: 70%;
    }
}

@media only screen and (max-width: 760px) {

    .event-list {
        justify-content: center;
    }

    .event-item-container {
        width: 80%;
    }

    .event-item {
        min-width: 280px;
        height: 280px !important;
    }

}

.event-item:hover {
    box-shadow: 0px 30px 70px -30px #adacaa;
}

.event-info {
    padding: 0px 20px;
}

.event-info p {
    font-size: 14px;
    font-weight: 700;
    color: rgb(8, 8, 216);
    padding: 10px 2px 0px 2px;
}

.event-info a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 700;
    padding: 0px 2px;
}

.images {
    height: 60%;
    width: 100%;
    position: relative;
}

.images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    align-self: center;
}

.bookmark {
    position: absolute;
    bottom: -20px;
    right: 10px;
    z-index: 10;
    text-decoration: none;
    font-size: 20px;
    padding: 7px 12px;
    border: 1px solid lightgrey;
    border-radius: 50%;
    cursor: pointer;
    background-color: white;
    color: rgb(80, 80, 80);
}

.bookmarked {
    position: absolute;
    bottom: -20px;
    right: 10px;
    z-index: 10;
    text-decoration: none;
    font-size: 20px;
    padding: 7px 12px;
    border: 1px solid lightgrey;
    border-radius: 50%;
    cursor: pointer;
    background-color: white;
    color: navy;
}

.bookmark:hover {
    outline-style: none;
    color: rgb(70, 70, 70);
    background-color: whitesmoke;
}

.bookmarked:hover {
    outline-style: none;
    color: rgb(10, 10, 184);
    background-color: whitesmoke;
}

.bookmark:focus {
    outline-style: none;
    background-color: rgb(240, 240, 240);
}

.category-browse {
    padding: 30px;
}

.category-list {
    display: flex;
    list-style: none;
    margin: 10px 20px;
    flex-wrap: wrap;
}

.category-list li {
    margin: 0px 10px;
    padding: 10px 0px;
    font-size: 14px;
    font-weight: 500;
    color: gray;
}

.category-list li:hover {
    color: black;
    cursor: pointer;
    border-bottom: 3px solid black;
    padding: 10px 0px 7px 0px;
}

li.active {
    color: rgb(0, 0, 211);
    border-bottom: 3px solid rgb(0, 0, 211);
    padding: 10px 0px 7px 0px;
}

#banner {
    width: 100%;
    height: 100%;
}

.banner-headers {
    font-family: 'Luckiest Guy', cursive;
    position: absolute;
    top: 100px;
    left: 10%;
    z-index: 2;
    color: black;
    font-size: 48px;
    padding: 20px;
    max-width: 500px;
}

#darkness-text {
    font-size: 25px;
    padding-bottom: 30px;
    color: navy;
}

#connect {
    font-size: 36px;
    padding-bottom: 10px;
}

#start-browsing-btn {
    margin-top: 5%;
    width: 180px;
    padding: 13px 10px;
    font-size: 14px;
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    background-color: navy;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    border: none;
    outline: none;
}

#start-browsing-btn span {
    padding-right: 15px;
}

@media (max-width: 800px) {
    .banner-headers {
        position: static;
        color: black;
        text-align: center;
        width: 100%;
        margin: auto;

    }
}